.github/**
.vscode/**
.vscode-test/**
.gitignore
.eslintrc.*
.editorconfig
src/**
test/**
app/test/**
node_modules/**
npm-debug.*
ISSUE_TEMPLATE.md
logo.png
yarn.lock
tsconfig.json
tslint.json
**/*.map
