.github/**
.vscode/**
.vscode-test/**
.gitignore
.eslintrc.*
.editorconfig
src/**
test/**
app/test/**
node_modules/**
npm-debug.*
ISSUE_TEMPLATE.md
logo.png
logo.svg
yarn.lock
tsconfig.json
vsc-extension-quickstart.md
tslint.json
**/*.map
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js
